@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

html {
    scroll-behavior: smooth;;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0d7d7;
    margin: 0;
    font-family: 'Rowdies', cursive;

    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #040c38;

    
}
h1 {
    text-align: center;
}

p {
    text-align: justify;
    margin-right: 40px;
}

#startP {
    margin-left: 40px;
}

.imagee {
    max-width: 100%;
    width: 250px;
    margin: 10px auto;
}

b {
    font-size: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2d2e33;
}

.img3 {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
}

#kanyeStart {
    width: 350px;
    height: 500px;
}

.navbar {
    background-color: #2d2e3380; 
    overflow: hidden;
    margin-top: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  font-size: 10px
}

.navbar a:hover {
    background-color: #485a5fb6;
    color: black;
    transition: 0.5s;
}

.container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.shown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(255, 255, 255);
    z-index: 2; 
}

.container:hover .shown {
    opacity: 1;
}

.container img {
    width: 100%; 
    height: auto; 
    transition: filter 0.5s ease-in-out;
}

.container:hover img {
    filter: blur(5px);
}

.container .shown img:not(:hover) {
    filter: blur(0px);
}


.container2 {
    position: relative;
    display: inline-block;
}

.container2 img {
    width: 250px;
    height: 250px; 
    transition: filter 0.5s ease-in-out;
}

.container2:hover img {
    filter: blur(5px);
}

.shown2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(255, 255, 255);
}

.container2:hover .shown2 {
    opacity: 1;
}

.play-button {
    background-color: #2d2e33; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; 
    font-family: 'Rowdies', cursive;
  }

.play-button:hover {
    background-color: #03270f; 
    color: black;
    transition: 0.5s;
  }